h1 {
    color: rgb(238, 229, 229);
    position: relative;
    left: 20px
}

.div-1,
.div-2,
.div-3,
.div-4 {
    background-color: #fea500;
    height: 120px;
    width: 120px;
    position: relative;
    left: 20px
}

section {
    background-color: #808080;
    height: 650px;
    width: 250px;
    position: relative;
    left: 20px
}